<div class="row flex-center padding-large margin-large">
  <div class="sm-10 md-6 lg-4 col">
    <button class="btn-block" (click)="login()">Login with Google</button>
  </div>
</div>

<div class="row flex-spaces" *ngIf="error">
  <div class="alert alert-danger">{{ error }}</div>
</div>
