<nav class="border split-nav">
  <div class="nav-brand">
    <h3><a [routerLink]="['/']">Customers</a></h3>
    
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1" />
    <button>
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
        <li><label for="modal-1"  class="margin-small">Add</label></li>
        <li>
          <button class="btn-small" (click)="logout()" *ngIf="user">Logout</button>
        </li>
        <li><a class="btn-small" [routerLink]="['/auth']" *ngIf="!user">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
  <input class="modal-state" id="modal-1" type="checkbox">
  <div class="modal">
    <label class="modal-bg" for="modal-1"></label>
    <div class="modal-body">
      <label class="btn-close" for="modal-1">X</label>
      <h4 class="modal-title">Adding Customers</h4>
      <h5 class="modal-subtitle">You can add customers via mobile app</h5>
      <p class="modal-text">For accurate location adding, use the Mobile app do add customers. But you can view all added customers in real time, here online</p>
      <label for="modal-1">Nice!</label>
    </div>
  </div>