<div class="row" *ngIf="!busy && customers?.length">
  <div class="sm-6 md-4 lg-3 col" *ngFor="let customer of customers">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ customer.name }}</h4>
        <h5 class="card-subtitle">{{ customer.location }}</h5>
        <h5 class="card-subtitle">{{ customer.phone }}</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
          adipisci
        </p>
      </div>
      <div class="card-footer">DoB: {{ customer.dob }}</div>
    </div>
  </div>
</div>
<div class="row margin-large padding-large" *ngIf="busy">
  <div class="loader"></div>
</div>

<div class="row flex-center" *ngIf="!busy && !customers?.length">
  <div class="sm-12 md-8 lg-4 col">
    <h3>No Customer Data</h3>
    <h5>Add Customer data using the mobile app</h5>
  </div>
</div>